{
    # Matikan HTTPS internal agar tidak bentrok dengan SSL Railway
    auto_https off
}

:8080 {
    # Lokasi root aplikasi PHP (seluruh file project di /app)
    root * /app
    encode zstd gzip
    php_server
}
